.container {
    border: 3px solid #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: white;
}

.row {
    padding: 10px;
    background: #393e46;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.column {
    float: left;
}
  
.left {
    width: 25%;
}
  
.right {
    width: 10%;
}
  
.middle {
    width: 75%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Three dots */
  .dot {
    margin-top: 4px;
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
  }
  


  .content {
    padding: 15px;
    padding-top: 25px;
  }